MouseInfo==0.1.3
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.2.0
PyAutoGUI==0.9.54
pybind11==2.11.1
pybind11-global==2.11.1
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytweening==1.2.0
pywin32==306;sys_platform=='win32'
rubicon-objc==0.4.7
pyobjc-core==10.2;sys_platform=='darwin'
pyobjc-framework-Cocoa==10.2;sys_platform=='darwin'
pyobjc-framework-Quartz==10.2;sys_platform=='darwin'
